@font-face {
  font-family: "Roboto";
  src: url(./resources/Roboto-Regular.ttf), format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(./resources/Roboto-Bold.ttf), format("ttf");
  font-weight: bold;
}

#dashboard {
  text-align: center;
  margin: 0em 5em 0em 5em;
}

.message {
  text-align: center;
}

.m1 {
  margin: 1em;
}

code {
  color: red;
  font-family: Consolas;
}

#mapContainer {
  display: inline-block;
  text-align: right;
}

#mapBackground {
  display: inline-block;
  position: absolute;
  z-index: 0;
}

#mapCanvas {
  display: inline-block;
  position: relative;
  z-index: 1;
}

canvas {
  display: inline;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  color: skyblue;
  margin: 0;
  padding: 0;
}
.link-button:hover {
  text-decoration: underline;
}

.waypoint-count {
  padding: 0.5em;
}

.waypointList {
  display: none;
}

.waypointList.responsive {
  display: block;
  clear: both;
  padding: 0;
  height: 160px;
}

.p-1 {
  padding: 1em
}

.pv-half {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* 
.accordion-body {
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
  max-height: 1000px;
  transition: max-height 0.5s ease-in-out;
}

.accordion-body[aria-expanded="true"] {
  max-height: 0px;
  transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
} */