@font-face {
  font-family: "Roboto";
  src: url(./resources/Roboto-Regular.ttf), format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(./resources/Roboto-Bold.ttf), format("ttf");
  font-weight: bold;
}

.dashboard {
  text-align: center;
}

.message {
  text-align: center;
}

.m1 {
  margin: 1em;
}

code {
  color: red;
  font-family: Consolas;
}

#mapContainer {
  display: inline-block;
}

#mapBackground {
  position: absolute;
  z-index: 0;
}

#mapCanvas {
  position: relative;
  z-index: 1;
}